extends base.pug

block scripts
        include ../static/script.js
block style 
    style
        include ../static/base.css
        include ../static/about.css
block content
    div#about
        div#pic 
            img(src="static/about1.jpg", alt="", srcset="")
        div#content     
            h1 ABOUT US
            h3 OUR MISSION
            h4 Here at the Hurdles of Nurdles Cricket Academy, our mission is to help cricketers from all over the world, play the best cricket they ever have.
            h4 We believe that with our help, you can take your game to a level you never thought possible.
                br
            h4  We will coach the fundamentals of the game, whilst working with you to maximise your potential on and off the field.
                br
            h4 Our aim is to deliver simple, yet powerful instruction & advice, which allows you to take control of your game, and create your own path to improvement.
    div#DIRECTORS
        h1 DIRECTORS
        div.DIRECTORS
            div.DIR 
                div.DIR-img 
                    img(src="static/aboutus1.png", alt="", srcset="")
                div.DIR-name Dave Smith
                div.DIR-content Hi, my name is Dave Smith. I grew up in Kent in England, and played football and cricket to a high level growing up. I started playing cricket aged 7 and loved it instantly. I made the county U11 squad as a seam bowler, who could bat, but by U13 reinvented myself as a wrist spinner. This pushed my game to the next level as I was involved in the ECB Elite Wrist Spin Programme and made the South of England squad at the Bunbury Festival.

            div.DIR 
                div.DIR-img 
                    img(src="static/aboutus2.png", alt="", srcset="")
                div.DIR-name Mike Waller
                div.DIR-content Hi, my name is Michael Waller, one of the Directors & lead coaches here at the Online Cricket Academy. My cricketing journey began as soon as I could walk, as I followed my Dad around to all his games, eventually getting my first taste of cricket at the age of 8.<br>Ever since then I have had a passion for the game, which has led to my career in coaching.

            div.DIR 
                div.DIR-img 
                    img(src="static/aboutus3.png", alt="", srcset="")
                div.DIR-name Mike Barber
                div.DIR-content Hi, my name is Mike Barber and I was born and raised in Sevenoaks, Kent. I’ve played multiple team sports to a high level including youth football for Charlton Athletic F.C, hockey for Sevenoaks Hockey Club in the England Premier League, and cricket for Kent County Cricket Club throughout the age group pathway.
    
    div.Mentors
        h1 Mentors
        div.DIRECTORS
            div.DIR 
                div.DIR-img 
                    img(src="static/aboutus1.png", alt="", srcset="")
                div.DIR-name Dave Smith
                div.DIR-content Hi, my name is Dave Smith. I grew up in Kent in England, and played football and cricket to a high level growing up. I started playing cricket aged 7 and loved it instantly. I made the county U11 squad as a seam bowler, who could bat, but by U13 reinvented myself as a wrist spinner. This pushed my game to the next level as I was involved in the ECB Elite Wrist Spin Programme and made the South of England squad at the Bunbury Festival.

            div.DIR 
                div.DIR-img 
                    img(src="static/aboutus2.png", alt="", srcset="")
                div.DIR-name Mike Waller
                div.DIR-content Hi, my name is Michael Waller, one of the Directors & lead coaches here at the Online Cricket Academy. My cricketing journey began as soon as I could walk, as I followed my Dad around to all his games, eventually getting my first taste of cricket at the age of 8.<br>Ever since then I have had a passion for the game, which has led to my career in coaching.

            div.DIR 
                div.DIR-img 
                    img(src="static/aboutus3.png", alt="", srcset="")
                div.DIR-name Mike Barber
                div.DIR-content Hi, my name is Mike Barber and I was born and raised in Sevenoaks, Kent. I’ve played multiple team sports to a high level including youth football for Charlton Athletic F.C, hockey for Sevenoaks Hockey Club in the England Premier League, and cricket for Kent County Cricket Club throughout the age group pathway.
        div.DIRECTORS
            div.DIR 
                div.DIR-img 
                    img(src="static/aboutus1.png", alt="", srcset="")
                div.DIR-name Dave Smith
                div.DIR-content Hi, my name is Dave Smith. I grew up in Kent in England, and played football and cricket to a high level growing up. I started playing cricket aged 7 and loved it instantly. I made the county U11 squad as a seam bowler, who could bat, but by U13 reinvented myself as a wrist spinner. This pushed my game to the next level as I was involved in the ECB Elite Wrist Spin Programme and made the South of England squad at the Bunbury Festival.

            div.DIR 
                div.DIR-img 
                    img(src="static/aboutus2.png", alt="", srcset="")
                div.DIR-name Mike Waller
                div.DIR-content Hi, my name is Michael Waller, one of the Directors & lead coaches here at the Online Cricket Academy. My cricketing journey began as soon as I could walk, as I followed my Dad around to all his games, eventually getting my first taste of cricket at the age of 8.<br>Ever since then I have had a passion for the game, which has led to my career in coaching.

            div.DIR 
                div.DIR-img 
                    img(src="static/aboutus3.png", alt="", srcset="")
                div.DIR-name Mike Barber
                div.DIR-content Hi, my name is Mike Barber and I was born and raised in Sevenoaks, Kent. I’ve played multiple team sports to a high level including youth football for Charlton Athletic F.C, hockey for Sevenoaks Hockey Club in the England Premier League, and cricket for Kent County Cricket Club throughout the age group pathway.        

    div#pg 
        div.pg-content
            h2 Ali
            h1 Videographer
            h4 Ed is graphic designer, photographer, as well as a videographer, and he has a keen interest in aerial photography.
            h4 He has loved all sports from a young age and so working with the Online Cricket Academy on this project has been great fun.
            h4 He has helped us create a consistent style and quality to our video content and has been very thorough and detailed in his approach. Our thanks go to him for all the work he has put into the project so far
        div.pg-img 
            img(src="static/pgpic.jpeg", alt="", srcset="")
        