extends base.pug

block scripts
        include ../static/script.js
block style 
    style
        include ../static/base.css
        include ../static/services.css

block content
    div#services
        div#Services.container
            div.services-content1 
                div.ser-cont
                    h2 LEARN FROM TOP INTERNATIONAL PLAYERS & COACHES FOR JUST A SMALL ANNUAL FEE
                    h1 Transform your game
                    h4 With our extensive video library, development log and your own personal messaging service with a coach best suited to your game, we'll have you training like a pro and improving your game faster than you would ever imagine.
                    a(id='btn' class='fir' href="#") Singup Today
                div.ser-img 
                    img(src="/static/serpic1.jpg", alt="", srcset="")
        
    section#cent   
        h2 'QUICK, EASY TO FOLLOW VIDEOS GUARANTEED TO IMPROVE YOUR PERFORMANCE'
        h3 Our current members love our Videos. Here's why: They're simple, easy to follow, and focus on everything you'll need to know to achieve your goals at a pace that suits you. You'll soon be mastering the aspects of your game that you never thought were possible.
            div.cl
                div.conta 
                    img(src="static/p1.png", alt="", srcset="")
                    h3 Simple
                div.conta 
                    img(src="static/p2.png", alt="", srcset="")
                    h3 Easy To Follow
                div.conta 
                    img(src="static/p3.png", alt="", srcset="")
                    h3 Reach Your Goals
                div.conta 
                    img(src="static/p4.png", alt="", srcset="")
                    h3 SimAt Your Own Paceple

    div#Ser
        div#Ser-cont

            div.ser-img 
                img(src="/static/serpic2.jpg", alt="", srcset="")
        
            div.ser-cont
                h2 LEARN FROM TOP INTERNATIONAL PLAYERS & COACHES FOR JUST A SMALL ANNUAL FEE
                h1 Transform your game
                h4 With our extensive video library, development log and your own personal messaging service with a coach best suited to your game, we'll have you training like a pro and improving your game faster than you would ever imagine.
                a(id='btn' class='sec' href="#") Singup 
        
    section#sponsorsSection   
        h1 'Master all the core cricket skills and get an advantage over your opponents'
            div.client
                div.client-item.img1
                    img(src="static/pi1.png", alt="", srcset="")
                div.client-item.imgg
                    img(src="static/pi2.png", alt="", srcset="")
                div.client-item.img1
                    img(src="static/pi3.png", alt="", srcset="")
                div.client-item.imgg
                    img(src="static/pi2.png", alt="", srcset="")
                div.client-item.img1
                    img(src="static/pi4.png", alt="", srcset="")
        a(id='btnlas'  href="#") Singup 
            
